# Directories
Debug/
html/
.metadata/
Release/ 
.settings/

# Artifacts
*.cyclo
*.d
*.o
*.obj
*.obj.dmp
*.p1
*.pre
*.lst
*.sdb
*.su
*.sym

# Binaries
*.elf
*.bin
*.hex
*.map
*.list
*.out

# Other
.mxproject
*.launch
